$fz-base: 16;

$white: #fcfcfc;


$theme-colors: (
  primary: #ea5548,
  secondary: #316901 ,
  light: #b5e254,
  font: #333333

);

// 參考 vuetify
$type-colors: (
  success: #B5E254,
  info: #17a2b8,
  warning: #fb8c00,
  danger: #ff5252
);

$background-colors: (
  primary: #eaeaea,
  secondary: #333333
);
